name: minibank

volumes:
  pg_data:
  node_modules:

services:
  backend:
    build: .
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    ports:
      - 127.0.0.1:8000:8000
    depends_on:
      postgres:
        condition: service_healthy
    env_file: .env

  postgres:
    image: postgres:17.1-alpine
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 2s
      timeout: 3s
      retries: 5
    env_file: .env
